################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vcxproj
*.obj
*.log
*.tlog
*.pdb
*.idb
*.filters
*.TMP
*.user
*.opendb
*.db
*.sln
*.suo
*.ilk
*.exe
*.dll
*.nupkg
*.xml
*.enc
*.properties
